.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.home-content {
    background-color: transparent;
}


@media (max-width: 768px) {
    .home-container {
        padding: 20px;
    }
}